body {
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
}

.content{
    margin-left: 150px;
}

.blue{
    color: hsl(171, 84%, 60%);
    margin-left: 150px;
}

.nav{
    background-color: hsl(171, 84%, 60%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    left: 0;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    animation: fadeIn 1s ease-in;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    position: relative;
    overflow: hidden;
}

.nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.4s ease-in-out; 
}

.nav a:hover{
    color: #ffffff
}

.nav a:hover::before {
    width: 100%;
}


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    font-size: 100px;
    animation: slide 1s ease-in;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    font-size: 20px;
    width: 500px;
    margin-top: 0px;
    text-align: right;
    margin-right: 250px;

}

.main{
    display: flex;
    flex-direction: row;
    margin-top: 175px;
}

@keyframes slide {
    from {
      opacity: 0;
      transform: translatex(-50px);
    }
    to {
      opacity: 1;
      transform: translatex(0px);
    }
  }

.imgcontent{
    position: relative;
    margin-left: 150px;
}

.imgcontent #splash{
    margin-top: -150px;
    margin-left: 0px;
    z-index: -1;
}
.imgcontent #bottle{
    margin-top: 0px;
    margin-left: 250px;
    z-index: -1;
}

@keyframes opaque {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


@keyframes pop {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-150px);
    transition: all 1s ease-in-out;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.hidden2{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(50px);
    transition: all 0.1s ease-in-out;
}

.show2{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.hidden1{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.show1{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 1s ease-in-out;
}

.btm{
    margin-bottom: 50px;
}

.btn{
    background: transparent;
    border: 1px solid hsl(171, 84%, 60%);
    border-radius: 75px;
    padding: 20px;
    color: #000000;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}
/* .btn::before{
    content: "";
    position: absolute;
    top: 430px;
    left: 0;
    width: 0px;
    border-radius: 50px;
    height: 65px;
    z-index: -1;
    color: white;
    background-color: hsl(171, 84%, 60%);
    transition: all 0.4s ease-in-out; 
}
.btn:hover::before {
    width: 32.3%;
} */
.btn:hover{
    transition: all 0.4s ease-in-out;
    color: white;
    background-color: hsl(171, 84%, 60%);
    box-shadow: 0 0 10px #9d9d9d;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    font-size: 50px;
    margin-top: 150px;
    margin-left: 150px;
    text-align: center;
    animation: pop 1s ease-in;
}

.stacks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 250px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
}

.col{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

}

.pdt{
    margin-left: -150px;
}

.pdt p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    font-size: 20px;
    width: 900px;
    margin-top: 0px;
    margin-left: 570px;
    padding: 20px;
    border: 2px solid hsl(171, 84%, 60%);
    text-align: justify;
    margin-right: 0;
    
}

.ch{
    margin-left: 490px;
    box-shadow: 0 0 10px aliceblue;
}